<div class="places-wrap">

  <div class="places-forehead">
    <h1 class="main-title">Restaurantes</h1>

    <mat-form-field>
      <select matNativeControl (change)="filterByType($event.target.value)">
        <option value="">todos</option>
        <option value="{{placeType}}" *ngFor="let placeType of placesTypes">{{placeType}}</option>
      </select>
    </mat-form-field>
  </div>

  <mat-card class="place-item" [ngClass]="{'place-disable': config.blacklist.includes(place.id)}"  *ngFor="let place of places" >
    <picture class="place-pic">
      <source media="(max-width: 400px)" srcset="https://res.cloudinary.com/czare/image/upload/c_crop,g_north,h_140,w_150/v1563149325/almoceitor/indisponivel.png">
      <source media="(min-width: 800px)" srcset="https://res.cloudinary.com/czare/image/upload/c_crop,g_north,h_140,w_150/v1563149325/almoceitor/indisponivel.png">
      <img src="https://res.cloudinary.com/czare/image/upload/c_crop,g_north,h_140,w_150/v1563149325/almoceitor/indisponivel.png" alt="Imagem não disponível" />
    </picture>

    <a mat-button routerLink="/restaurante/{{place.slug}}" class="place-btn">
      <h2 class="place-name">{{place.name}}</h2>
      <p class="place-type">{{place.modality}}</p>
    </a>
    <div class="place-actions" >
      <button mat-icon-button (click)="toggleConfig('visited', place)" class="place-icon">
        <mat-icon>{{config.visited.includes(place.id) ? 'bookmark': 'bookmark_border'}}</mat-icon>
      </button>

      <button mat-icon-button (click)="toggleConfig('favorites', place)" class="place-icon">
        <mat-icon>{{config.favorites.includes(place.id) ? 'favorite': 'favorite_border'}}</mat-icon>
      </button>
    </div>
  </mat-card>

  <div class="places-action">

    <div class="places-action-col">
      <a mat-button color="accent" (click)="randomPlace()" >
        <mat-icon>explore</mat-icon>
        Sugerir
      </a>
    </div>

    <div class="places-action-col">
      <a mat-button color="{{showJustFavorites ? 'primary' : 'accent'}}" (click)="toggleFavorites()" >
        <mat-icon>favorite</mat-icon>
        Favoritos
      </a>
    </div>

    <div class="places-action-col">
      <a mat-button color="{{showJustUnvisited ? 'primary' : 'accent'}}" (click)="toggleVisited()" >
        <mat-icon>bookmark_border</mat-icon>
        Não visitados
      </a>
    </div>

    <div class="places-action-col">
      <a mat-button color="accent" routerLink="/preferencias" >
        <mat-icon>settings</mat-icon>
        Preferencias
      </a>
    </div>

  </div>
</div>
