@import '../../../assets/stylus/variables'

.place-item
  margin: 10px
  display: flex
  justify-content: space-between

.place-pic
  width: 70px
  border-radius: 5px

.places-forehead
  display: flex
  justify-content: space-between
  align-items: center
  margin: 10px
  .main-title
    span
      display: none

.place-btn
  width: 100%

.place-name
.place-type
  line-height: 1.4em
  text-align: left

.place-icon
  color: $secondary

.place-name
  font-size: 16px

.place-type
  color: $gray
  font-size: 12px

.place-icon
  float: right

.place-disable
  opacity 0.4

.places-action
  display: flex
  position: fixed
  bottom: 0px
  padding-top: 10px
  left: 0
  right: 0
  background: white
  box-shadow: 1px -1px 3px rgba(0,0,0,0.3)
  button
    width: 100%

.place-actions
  min-width: 120px

.places-action-col
  width: 24%
  text-align: center
  .mat-button
    text-align: center
    font-size: .7rem
    line-height: 1.5rem
    .mat-icon
      display: block
      text-align: center
      width: initial

.places-wrap
  padding-bottom: 57px

.places-search
  background: white
  border: 8px solid $secondary-back
  padding: 5px
  mat-form-field
    width: 100%
