.welcome
  background: url(https://res.cloudinary.com/czare/image/upload/f_auto,q_auto:good/v1562323230/itau/welcome.png) center center no-repeat
  display: flex
  justify-content: center
  align-items: center
  height 100%

@media (min-width: 1200px)
  .welcome
    background-size: 100%
