<div class="main-wrap">
  <div class="main-forehead">
    <h1 class="main-title">Preferencias</h1>

    <p>
      <strong>Visitados:</strong> {{ visited.length }}
      <button mat-button (click)="cleanVisited()">Limpar</button>
    </p>

    <p>
      <strong> Favoritos: </strong> {{ favorites.length }}
      <button mat-button (click)="cleanFavorites()">Limpar</button>
    </p>

    <p>
      <strong> Removidos: </strong> {{ blacklist.length }}
      <button mat-button (click)="cleanBlacklist()">Limpar</button>
    </p>
  </div>
</div>
