<div class="main-wrap">
  <div class="main-forehead">
    <h1 class="main-title">Preferencias</h1>

    <p>
      <strong>Visitados:</strong> {{ config.visited.length }}
      <button mat-button (click)="clean('visited')">Limpar</button>
    </p>

    <p>
      <strong> Favoritos: </strong> {{ config.favorites.length }}
      <button mat-button (click)="clean('favorites')">Limpar</button>
    </p>

    <p>
      <strong> Removidos: </strong> {{ config.blacklist.length }}
      <button mat-button (click)="clean('blacklist')">Limpar</button>
    </p>
  </div>
</div>
