<nav>
  <mat-nav-list>
    <a mat-list-item (click)="onClose()" routerLink="/">Inicial</a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item (click)="onClose()" routerLink="/restaurantes">Restaurantes</a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item (click)="onClose()" href="https://github.com/CesarRiello/almoceitor" target="_blank">Sobre o almoceitor</a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-list-item (click)="onClose()" href="https://github.com/CesarRiello/almoceitor/issues" target="_blank">Encontrou um bug</a>
  </mat-nav-list>
</nav>
