<mat-card class="place-card">
  <mat-card-header>
      <div mat-card-avatar class="place-avatar"><mat-icon>local_dining</mat-icon></div>
      <mat-card-title>{{place.name}}</mat-card-title>
      <mat-card-subtitle>{{place.modality || ''}}</mat-card-subtitle>
  </mat-card-header>

  <picture>
    <source media="(max-width: 799px)" srcset="https://res.cloudinary.com/czare/image/upload/f_auto/v1563149325/almoceitor/indisponivel.png">
    <source media="(min-width: 800px)" srcset="https://res.cloudinary.com/czare/image/upload/f_auto/v1563149325/almoceitor/indisponivel.png">
    <img src="https://res.cloudinary.com/czare/image/upload/f_auto/v1563149325/almoceitor/indisponivel.png" alt="Imagem não disponível" />
  </picture>

  <div class="btn-block-container">
    <button mat-stroked-button (click)="toogleFavorite(place)" class="place-icon">
      <mat-icon>{{favorites.includes(place.id) ? 'favorite': 'favorite_border'}}</mat-icon>
      {{favorites.includes(place.id) ? 'Remover dos ': 'Adicionar aos '}} favoritos
    </button>

    <button mat-stroked-button (click)="toogleBlacklist(place)" class="place-icon">
      <mat-icon>{{blacklist.includes(place.id) ? 'label_off': 'label_outline'}}</mat-icon>
      {{blacklist.includes(place.id) ? 'Mostar na ': 'Ocultar da '}} lista
    </button>

    <button mat-stroked-button (click)="toogleVisited(place)" class="place-icon">
      <mat-icon>{{visited.includes(place.id) ? 'bookmark': 'bookmark_border'}}</mat-icon>
      {{visited.includes(place.id) ? 'Desmarcar ': 'Marcar '}} como visitado
    </button>

  </div>
</mat-card>
