@import './variables.styl'

body
  height: 100%
  font-family: $main-font
  color: $gray-darker
  background: $gray-lighter

.welcome
.mat-drawer-container
  min-height: 100vh

.main-title
  font-size: 18px
  font-weight: 300

.mat-sidenav
  min-width: 300px
  padding: 20px

.hidden
  display: none !important

.btn-block-container
  button
    width: 100%
    margin-top: 20px

.main-wrap
  padding-bottom: 57px

.main-forehead
  margin: 10px
  .main-title
    margin-bottom: 10px
    span
      display: none
