@import './variables.styl'

body
  height: 100%
  font-family: $main-font
  color: $gray-darker
  background: $gray-lighter

.welcome
  min-height: 100vh

.main-title
  font-size: 18px
  font-weight: 300
  margin: 10px

.mat-sidenav
  min-width: 300px
  padding: 20px