$primary = #f7554a
$primary-hover = #ee5544
$primary-font-color = #ffffff

$secondary = #0055ee
$secondary-hover = #3388ff
$secondary-font-color = #ffffff

$secondary-back = #DDBB99

$gray-darker = #333333
$gray-dark = #777777
$gray = #bdbdbd
$gray-light = #EEEEEE
$gray-lighter = #F9F9F9

$main-font = Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
