$primary = #007766
$primary-hover = #00AA88
$primary-font-color = #ffffff

$secondary = #ff6600
$secondary-hover = #ffAA00
$secondary-font-color = #ffffff

$gray-darker = #333333
$gray-dark = #777777
$gray = #bdbdbd
$gray-light = #EEEEEE
$gray-lighter = #F9F9F9

$main-font = Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif